[tool.poetry]
name = "quartical"
version = "0.2.3"
description = "Fast and flexible calibration suite for radio interferometer data."
repository = "https://github.com/ratt-ru/QuartiCal"
documentation = "https://quartical.readthedocs.io"
authors = ["Jonathan Kenyon <jonathan.simon.kenyon@gmail.com>"]
license = "MIT"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Scientific/Engineering :: Astronomy"
]
include = [
    "quartical/config/argument_schema.yaml",
    "quartical/config/gain_schema.yaml",
    "quartical/stimela_cabs.yaml"
]

[tool.poetry.dependencies]
python = ">=3.9, <3.12"
astro-tigger-lsm = ">=1.7.2, <=1.7.3"
codex-africanus = {extras = ["dask", "scipy", "astropy", "python-casacore"], version = "^0.3.7"}
colorama = ">=0.4.6, <=0.4.6"
columnar = ">=1.4.1, <=1.4.1"
dask = {extras = ["diagnostics"], version = ">=2023.5.0, <=2024.4.2"}
dask-ms = {extras = ["s3", "xarray", "zarr"], version = "^0.2.20"}
distributed = ">=2023.5.0, <=2024.4.2"
loguru = ">=0.7.0, <=0.7.2"
matplotlib = ">=3.5.1, <=3.8.2"
omegaconf = ">=2.3.0, <=2.3.0"
pytest = ">=7.3.1, <=7.4.4"
requests = ">=2.31.0, <=2.31.0"
"ruamel.yaml" = ">=0.17.26, <=0.17.40"
stimela = "^2.0rc17"  # Volatile - be less strict.
tbump = ">=6.10.0, <=6.11.0"

[tool.poetry.scripts]
goquartical = 'quartical.executor:execute'
goquartical-config = 'quartical.config.parser:create_user_config'
goquartical-backup = 'quartical.apps.backup:backup'
goquartical-restore = 'quartical.apps.backup:restore'
goquartical-summary = 'quartical.apps.summary:summary'
goquartical-plot = 'quartical.apps.plotter:plot'

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
